$mainColor: rgb(17, 16, 16);
$secondaryColor: rgb(203, 147, 168);
$keyColor: black;
$white: white;
$navbarColor: rgb(234, 232, 229);
$mainFooter:'Trocchi', serif;
$textRegular: 400;
$textLight: 300;
$textBold: 600;
$textSm: 0.8em;
$textMd: 1em;
$textLg:2em;
$textXl:3em;

